@import 'colors';
@import 'components';
@import 'mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

// Nav------

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background-color: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		border: 1px solic rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::before,
		.burger-btn__bars::after {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 48px;
		height: 35px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerbtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 26px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

// Header -----------

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $pure-white;
	@include heroImg('../img/beach-1868047_640.jpg');
	background-attachment: scroll;

	&__heading {
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
		font-weight: 400;
	}

	&__text {
		font-size: 1.4rem;
	}

	&__btn {
		background-color: $pure-white;
		margin: 2em;
		padding: 0.8em 1.6em;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}

// Media ---------

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}

	.header {
		&__heading {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__btn{
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 992px){
	.burger-btn{
		top: 50px;
		right: 50px;
	}

	.header{
		background-image: $blue-gradient, url('../img/beach-1868047_1920.jpg');

		&__heading {
			font-size: 10rem;
		}
	}
}